
body
{
    text-align: center;
}

h1 {
    color: lightcoral;
}
 
#app {
    background-color: lightblue;
}
 
#myCarousel
{
    background-color: lightgreen;
}
 
#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}
 
.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
